<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>

<title>Index manager</title>

<link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet"
	type="text/css" />
<script type="text/javascript" src="http://code.jquery.com/jquery.js"></script>
<script type="text/javascript" src="../bootstrap/js/bootstrap.min.js"></script>
</head>

<body>
	<div class="container">
		<!-- HEADER -->
		<div class="row">
			<div class="page-header text-center">
				<h1>
					Manage lucene index for <a style="color: black;" th:href="@{/}">DRC
					</a>
				</h1>
			</div>
		</div>
		<!-- / HEADER -->
		<div class="row">
			<div class="lead text-center">Give some stats (index size,
				date, etc), add buttons (trigger index, delete index, set index
				size, etc), progress bar when indexing, etc...</div>
		</div>
	</div>
</body>
</html>