<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Page</title>

<link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet"
	type="text/css" />
<link href="../css/page.css" rel="stylesheet" type="text/css" />
<link href="../css/search.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="http://code.jquery.com/jquery.js"></script>
<script type="text/javascript" src="../bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
		<!-- HEADER -->
		<div class="row">
			<div class="page-header text-center">
				<h1>
					<a style="color: black;" th:href="@{volumes}">Crestomazia
						Retoromontscha <small>Caspar Decurtins</small>
					</a>
				</h1>
			</div>
		</div>
		<!-- / HEADER -->

		<!-- BREADCRUMB -->
		<div class="row">
			<div class="lead">
				<a th:href="@{/}">Start</a> <span> > </span><a th:href="@{volumes}">RC
					Bände</a> <span> > </span><a
					th:href="@{chapters(volumeId=${volumeId}, volumeTitle=${volumeTitle})}"
					th:text="${volumeTitle}"></a> <span> > </span> <a
					th:href="@{pages(chapterId=${chapterId}, chapterTitle=${chapterTitle}, volumeId=${volumeId}, volumeTitle=${volumeTitle})}"
					th:text="${chapterTitle}"></a> <span> > </span> <span
					th:text="${page.url}"></span>
			</div>
		</div>
		<!-- / BREADCRUMB -->
		<div class="row">
			<div class="lead">
				<div>
					<!-- NAV-TABS -->
					<ul class="nav nav-tabs" role="tablist">
						<li role="presentation"><a href="#upload"
							aria-controls="upload" role="tab" data-toggle="tab">Upload</a></li>
						<li role="presentation" class="active"><a href="#translate"
							aria-controls="translate" role="tab" data-toggle="tab">Translate</a></li>
						<li role="presentation"><a href="#annotate"
							aria-controls="annotate" role="tab" data-toggle="tab">Annotate</a></li>
						<li role="presentation"><a href="#search"
							aria-controls="search" role="tab" data-toggle="tab">Search</a></li>
						<li role="presentation"><a href="#export"
							aria-controls="export" role="tab" data-toggle="tab">Export</a></li>
					</ul>
					<!-- / NAV-TABS -->
					<!-- TAB-PANES -->
					<div class="tab-content">
						<div role="tabpanel" class="tab-pane" id="upload">Upload
							some files...</div>
						<div role="tabpanel" class="tab-pane active" id="translate">
							<div th:replace="fragments/translation :: translation"></div>
						</div>
						<div role="tabpanel" class="tab-pane" id="annotate">Annotation not
							implemented yet...</div>
						<div role="tabpanel" class="tab-pane" id="search">
							<div th:replace="fragments/search :: searchForm"></div>
						</div>
						<div role="tabpanel" class="tab-pane" id="export">Export in
							what so ever ...</div>
					</div>
					<!-- / TAB-PANES -->
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="../js/page.js"></script>
</body>
</html>