<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Search results</title>
<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet"
	type="text/css" />
<script type="text/javascript" src="http://code.jquery.com/jquery.js"></script>
<script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container-fluid">

		<div class="row-fluid">
			<div class="page-header text-center">
				<h1>
					<a style="color: black;" th:href="@{drc/volumes}">Rätoromanische
						Chrestomathie </a> <small>Suchergebnis für "<em
						class="text-info" th:text="${searchPhrase}"> </em>"
					</small>
				</h1>
			</div>
		</div>

		<div class="row-fluid">
			<div class="span3 well">
				<legend>
					Suchwort: <strong><em class="text-info"
						th:text="${searchPhrase}"></em></strong> <br /><em
						class="text-info" th:text="${totalHits}"></em> Treffer 
				</legend>
				<p class="lead">Neue Suche:</p>
				<form class="form-search">
					<input type="text" class="search-query" placeholder="Suche..."
						name="search" th:value="*{searchPhrase}" autofocus="autofocus"
						autocomplete="on" />
				</form>
			</div>

			<!-- Die Ergebnisliste: -->
			<div class="span8">
				<table class="table table-hover">
					<tr th:each="result : ${hits}">
						<td><span th:text="${result.volume}"></span></td>
						<td><span th:text="${result.chapter}"></span></td>
						<td><a
							th:href="@{page(pageId=${result.pageId}, chapterId=${chapterId}, chapterTitle=${result.chapter}, volumeId=${volumeId}, volumeTitle=${result.volume})}"
							th:text="${result.filename}"></a></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</body>
</html>